
Part 3 - Lesion classification/ISBI2016_ISIC_Part3_Test_GroundTruth.csv

Part 3 - Lesion classification/ISBI2016_ISIC_Part3_Test_GroundTruth.csv

Part 3 - Lesion classification/ISBI2016_ISIC_Part3_Training_GroundTruth.csv
